.main-outside-body {
    margin: 2% 10%;
    background-color: #F6FFE0;
 /*   border: 1px solid; */

}
.main-inside-body {
    margin:0 10%;
}

.main-header {
    text-align: center;
 /*   border: 1px solid; */
    margin:1% 10%;
    background-color: #BDD684;
    padding: 15px 15px;
}

.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

.links {
    margin-bottom: 1%;
    text-align: right;
}
.main-photo {
    margin: 20px auto;
}
img {
    display: block;
    margin: auto;
    width: 100%;
}

.main-about {

}

a {
    text-decoration: none;
    text-decoration-color: #10222B;
}
a:visited {
    text-decoration: #10222B;
}
h1 {
    color: ;
}