/*--Body / Wrap--*/

body {
    margin: 0;
    background-color: #FAF5D9;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #8c4646;
    position: fixed;
    height: 100%;
    overflow: auto;
    text-align: center;
}



li a {
    display: block;
    color: #FAF5D9;
    padding: 25px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;

}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

#sidebar-right {
    margin-left: 20%;
    padding: 1px 16px;
    height: 1000px;
    width: 70%;
}

h1 {
    padding:25px 0px;
    margin-left: 0;
    text-align: center;
    font-size: 350%;
    background-color: #f2e394;
    text-shadow: 2px 2px #888888;
}
h3 {
  padding-bottom: 25px;
  font-size: 150%;
}
.main-text {
    width: 50%;
}

.nav-heading {
    color: #FAF5D9;
    font-size: 200%;
    padding-bottom: 10px;
}

.icon {
    border-radius: 15%;
    width: 75%;
}

.food-icon {
    float: right;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 100%;
}
 .clearfix {
    overflow: auto;
}

/*
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#sidebar-left {
    position: fixed;
    padding: 5px;
    height: 100%;
    width: 250px;
    background: grey;
    box-sizing: border-box;
}

#sidebar-right {
    position: relative;
    margin: auto;
    width: 65%;
    box-sizing: border-box;
    background-color: lightgrey;
}

h1 {
    text-align: center;

}

.wrap {
    margin: 0 auto;
}




Base Mobile Layout


#main-content, #sidebar-left, #sidebar-right {
    width: 100%;
    float: left;
}


    #sidebar-left {
        width: 25%;
        float: left;
        background-color: grey;
    }

    #sidebar-right {
        width: 75%;
        float: left;
        background-color: lightgreen;
    }


 Nav Box
#sidebar {
    border: solid 1px black;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}




/*---Links---
a {
    text-decoration: none;
}
a:visited {
    color: #10222B;
}
a:link {
    color: #10222B;
}

--Media Quary--
    .clearfix::after {
        content: " ";
        display: table;
        clear: both;
    }
