/*--Body / Wrap--*/

/*Base Mobile Layout*/
.wrap {
    width: 90%;
    margin: 0 auto;
}

#main-content, #sidebar-left, #sidebar-right {
    width: 100%;
    float: left;
}


    #sidebar-left {
        width: 25%;
        float: left;
        background-color: grey;
    }


    #sidebar-right {
        width: 75%;
        float: left;
        background-color: lightgreen;
    }


 Nav Box
#sidebar {
    border: solid 1px black;
}


/*-
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}




/*---Links---*/
a {
    text-decoration: none;
}
a:visited {
    color: #10222B;
}
a:link {
    color: #10222B;
}

/*--Media Quary--*/
    .clearfix::after {
        content: " ";
        display: table;
        clear: both;
    }